body {
  background-color: black;
  font-family: "Chakra Petch", sans-serif;
  color: white;
}

#img {
  width: 700px;
  height: auto;
  margin-top: 100px;
}

/*#inBar{
    margin-right: 30px;
}*/
#fqsgfqfqd {
  position: relative;
}

.position-relative {
  position: relative;
}

.disable {
  pointer-events: none;
}

#btnRetryPanel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btnRetry {
  z-index: 99999;
  position: fixed !important;
  background: black !important;
}

#progFaim {
  background-color: black;
  color: blanchedalmond !important;
  border-radius: 15px;
  margin-right: 10px;
}

#progFaim::-moz-progress-bar {
  background-color: blanchedalmond !important;
  border-radius: 15px;
}

#progSoif {
  background-color: black;
  color: white;
  border-radius: 15px;
  margin-right: 10px;
}

#progSoif::-moz-progress-bar {
  background-color: white;
  border-radius: 15px;
}

#progCalin {
  background-color: black;
  color: blanchedalmond;
  border-radius: 15px;
}

#progCalin::-moz-progress-bar {
  background-color: white;
  border-radius: 15px;
}

/*#gameover{
    z-index: 100;
    position: absolute;
    width: 600px;
    height: 600px;
    background-color:black;
    border:10px red solid;
    left : 400px;
    top : 300px
}*/
#aide {
  margin-top: 30px;
  margin-left: 50%;
}

/*# sourceMappingURL=index.css.map */
